@font-face {
	font-family: Lato;
	src: url(../fonts/lato/lato-black-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/lato/lato-black-webfont.woff) format("woff"), url(../fonts/lato/lato-black-webfont.ttf) format("truetype"), url(../fonts/lato/lato-black-webfont.svg#latoblack) format("svg");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	src: url(../fonts/lato/lato-bold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/lato/lato-bold-webfont.woff) format("woff"), url(../fonts/lato/lato-bold-webfont.ttf) format("truetype"), url(../fonts/lato/lato-bold-webfont.svg#latobold) format("svg");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	src: url(../fonts/lato/lato-bolditalic-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/lato/lato-bolditalic-webfont.woff) format("woff"), url(../fonts/lato/lato-bolditalic-webfont.ttf) format("truetype"), url(../fonts/lato/lato-bolditalic-webfont.svg#latobold_italic) format("svg");
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: Lato;
	src: url(../fonts/lato/lato-italic-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/lato/lato-italic-webfont.woff) format("woff"), url(../fonts/lato/lato-italic-webfont.ttf) format("truetype"), url(../fonts/lato/lato-italic-webfont.svg#latoitalic) format("svg");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: Lato;
	src: url(../fonts/lato/lato-light-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/lato/lato-light-webfont.woff) format("woff"), url(../fonts/lato/lato-light-webfont.ttf) format("truetype"), url(../fonts/lato/lato-light-webfont.svg#latolight) format("svg");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	src: url(../fonts/lato/lato-regular-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/lato/lato-regular-webfont.woff) format("woff"), url(../fonts/lato/lato-regular-webfont.ttf) format("truetype"), url(../fonts/lato/lato-regular-webfont.svg#latoregular) format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Flat-UI-Icons;
	src: url(../fonts/Flat-UI-Icons.eot?#iefix) format("embedded-opentype"), url(../fonts/Flat-UI-Icons.woff) format("woff"), url(../fonts/Flat-UI-Icons.ttf) format("truetype"), url(../fonts/Flat-UI-Icons.svg#Flat-UI-Icons) format("svg");
	font-weight: normal;
	font-style: normal;
}
.carousel {
	position: relative;
}
.carousel h3 {
	line-height: 28px !important; font-size: 26px !important; font-weight: bold;
}
.carousel-inner {
	width: 100%; overflow: hidden; position: relative;
}
.carousel-inner > .item {
	display: none; position: relative; -webkit-transition: 0.6s ease-in-out left; transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img {
	height: auto; line-height: 1; display: block; max-width: 100%;
}
.carousel-inner > .item > a > img {
	height: auto; line-height: 1; display: block; max-width: 100%;
}
.carousel-inner > .active {
	display: block;
}
.carousel-inner > .next {
	display: block;
}
.carousel-inner > .prev {
	display: block;
}
.carousel-inner > .active {
	left: 0px;
}
.carousel-inner > .next {
	top: 0px; width: 100%; position: absolute;
}
.carousel-inner > .prev {
	top: 0px; width: 100%; position: absolute;
}
.carousel-inner > .next {
	left: 100%;
}
.carousel-inner > .prev {
	left: -100%;
}
.carousel-inner > .left.next {
	left: 0px;
}
.carousel-inner > .right.prev {
	left: 0px;
}
.carousel-inner > .left.active {
	left: -100%;
}
.carousel-inner > .right.active {
	left: 100%;
}
.carousel-control {
	left: 0px; top: 0px; width: 15%; text-align: center; bottom: 0px; color: rgb(255, 255, 255); font-size: 20px; filter: alpha(opacity=50); position: absolute; opacity: 0.5; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.left.carousel-control {
	color: rgb(255, 255, 255); line-height: 35px; text-decoration: none !important; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1); background-repeat: repeat-x;
}
.right.carousel-control {
	left: auto; right: 0px; color: rgb(255, 255, 255); line-height: 35px; text-decoration: none !important; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1); background-repeat: repeat-x;
}
.carousel-control:hover {
	color: rgb(255, 255, 255); text-decoration: none; filter: alpha(opacity=90); opacity: 0.9;
}
.carousel-control:focus {
	color: rgb(255, 255, 255); text-decoration: none; filter: alpha(opacity=90); opacity: 0.9;
}
.carousel-control .icon-prev {
	top: 50%; display: inline-block; position: absolute; z-index: 5;
}
.carousel-control .icon-next {
	top: 50%; display: inline-block; position: absolute; z-index: 5;
}
.carousel-control .glyphicon-chevron-left {
	top: 50%; display: inline-block; position: absolute; z-index: 5;
}
.carousel-control .glyphicon-chevron-right {
	top: 50%; display: inline-block; position: absolute; z-index: 5;
}
.carousel-control .icon-prev {
	left: 50%;
}
.carousel-control .glyphicon-chevron-left {
	left: 50%;
}
.carousel-control .icon-next {
	right: 50%;
}
.carousel-control .glyphicon-chevron-right {
	right: 50%;
}
.carousel-control .icon-prev {
	width: 20px; height: 20px; font-family: serif; margin-top: -10px; margin-left: -10px;
}
.carousel-control .icon-next {
	width: 20px; height: 20px; font-family: serif; margin-top: -10px; margin-left: -10px;
}
.carousel-control .icon-prev::before {
	content: "\2039";
}
.carousel-control .icon-next::before {
	content: "\203a";
}
.carousel-indicators {
	list-style: none; left: 50%; width: 60%; text-align: center; bottom: 10px; padding-left: 0px; margin-left: -30%; position: absolute; z-index: 15;
}
.carousel-indicators li {
	margin: 1px; border-radius: 10px; border: 1px solid rgb(255, 255, 255); width: 10px; height: 10px; text-indent: -999px; display: inline-block; cursor: pointer; background-color: rgba(0, 0, 0, 0);
}
.carousel-indicators .active {
	margin: 0px; width: 12px; height: 12px; background-color: rgb(255, 255, 255);
}
.carousel-caption {
	left: 15%; text-align: center; right: 15%; bottom: 20px; color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px; position: absolute; z-index: 10; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-caption .btn {
	text-shadow: none;
}
.carousel-control .glyphicons-chevron-left {
	width: 30px; height: 30px; font-size: 30px; margin-top: -15px; margin-left: -15px;
}
.carousel-control .glyphicons-chevron-right {
	width: 30px; height: 30px; font-size: 30px; margin-top: -15px; margin-left: -15px;
}
.carousel-control .icon-prev {
	width: 30px; height: 30px; font-size: 30px; margin-top: -15px; margin-left: -15px;
}
.carousel-control .icon-next {
	width: 30px; height: 30px; font-size: 30px; margin-top: -15px; margin-left: -15px;
}
.carousel-caption {
	left: 20%; right: 20%; padding-bottom: 30px;
}
.carousel-indicators {
	bottom: 20px;
}
.clearfix::before {
	display: table; content: " ";
}
.clearfix::after {
	display: table; content: " ";
}
.clearfix::after {
	clear: both;
}
.center-block {
	margin-right: auto; margin-left: auto; display: block;
}
[data-icon]::before {
	text-transform: none; font-family: "Flat-UI-Icons"; font-variant: normal; font-weight: normal; content: attr(data-icon); speak: none; -webkit-font-smoothing: antialiased;
}
.fui-triangle-up {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-triangle-up-small {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-triangle-right-large {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-triangle-left-large {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-triangle-down {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-info {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-alert {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-question {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-window {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-windows {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-arrow-right {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-arrow-left {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-loop {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-cmd {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-mic {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-triangle-down-small {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-check-inverted {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-heart {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-location {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-plus {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-check {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-cross {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-list {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-new {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-video {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-photo {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-volume {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-time {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-eye {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-chat {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-home {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-upload {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-search {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-user {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-mail {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-lock {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-power {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-star {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-calendar {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-gear {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-book {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-exit {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-trash {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-folder {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-bubble {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-cross-inverted {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-plus-inverted {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-export {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-radio-unchecked {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-radio-checked {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-checkbox-unchecked {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-checkbox-checked {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-flat {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-calendar-solid {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-star-2 {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-credit-card {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-clip {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-link {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-pause {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-play {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-tag {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-document {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-image {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-facebook {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-youtube {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-vimeo {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-twitter {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-stumbleupon {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-spotify {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-skype {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-pinterest {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-path {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-myspace {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-linkedin {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-googleplus {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-dribbble {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-blogger {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-behance {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-list-thumbnailed {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-list-small-thumbnails {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-list-numbered {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-list-large-thumbnails {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-list-columned {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-list-bulleted {
	text-transform: none; font-family: "Flat-UI-Icons"; font-style: normal; font-variant: normal; font-weight: normal; display: inline-block; speak: none; -webkit-font-smoothing: antialiased;
}
.fui-triangle-up::before {
	content: "\e000";
}
.fui-triangle-up-small::before {
	content: "\e001";
}
.fui-triangle-right-large::before {
	content: "\e002";
}
.fui-triangle-left-large::before {
	content: "\e003";
}
.fui-triangle-down::before {
	content: "\e004";
}
.fui-info::before {
	content: "\e016";
}
.fui-alert::before {
	content: "\e017";
}
.fui-question::before {
	content: "\e018";
}
.fui-window::before {
	content: "\e019";
}
.fui-windows::before {
	content: "\e01a";
}
.fui-arrow-right::before {
	content: "\e02c";
}
.fui-arrow-left::before {
	content: "\e02d";
}
.fui-loop::before {
	content: "\e02e";
}
.fui-cmd::before {
	content: "\e02f";
}
.fui-mic::before {
	content: "\e030";
}
.fui-triangle-down-small::before {
	content: "\e005";
}
.fui-check-inverted::before {
	content: "\e006";
}
.fui-heart::before {
	content: "\e007";
}
.fui-location::before {
	content: "\e008";
}
.fui-plus::before {
	content: "\e009";
}
.fui-check::before {
	content: "\e00a";
}
.fui-cross::before {
	content: "\e00b";
}
.fui-list::before {
	content: "\e00c";
}
.fui-new::before {
	content: "\e00d";
}
.fui-video::before {
	content: "\e00e";
}
.fui-photo::before {
	content: "\e00f";
}
.fui-volume::before {
	content: "\e010";
}
.fui-time::before {
	content: "\e011";
}
.fui-eye::before {
	content: "\e012";
}
.fui-chat::before {
	content: "\e013";
}
.fui-home::before {
	content: "\e015";
}
.fui-upload::before {
	content: "\e01b";
}
.fui-search::before {
	content: "\e01c";
}
.fui-user::before {
	content: "\e01d";
}
.fui-mail::before {
	content: "\e01e";
}
.fui-lock::before {
	content: "\e01f";
}
.fui-power::before {
	content: "\e020";
}
.fui-star::before {
	content: "\e021";
}
.fui-calendar::before {
	content: "\e023";
}
.fui-gear::before {
	content: "\e024";
}
.fui-book::before {
	content: "\e025";
}
.fui-exit::before {
	content: "\e026";
}
.fui-trash::before {
	content: "\e027";
}
.fui-folder::before {
	content: "\e028";
}
.fui-bubble::before {
	content: "\e029";
}
.fui-cross-inverted::before {
	content: "\e02a";
}
.fui-plus-inverted::before {
	content: "\e031";
}
.fui-export::before {
	content: "\e014";
}
.fui-radio-unchecked::before {
	content: "\e02b";
}
.fui-radio-checked::before {
	content: "\e032";
}
.fui-checkbox-unchecked::before {
	content: "\e033";
}
.fui-checkbox-checked::before {
	content: "\e034";
}
.fui-flat::before {
	content: "\e035";
}
.fui-calendar-solid::before {
	content: "\e022";
}
.fui-star-2::before {
	content: "\e036";
}
.fui-credit-card::before {
	content: "\e037";
}
.fui-clip::before {
	content: "\e038";
}
.fui-link::before {
	content: "\e039";
}
.fui-pause::before {
	content: "\e03b";
}
.fui-play::before {
	content: "\e03c";
}
.fui-tag::before {
	content: "\e03d";
}
.fui-document::before {
	content: "\e03e";
}
.fui-image::before {
	content: "\e03a";
}
.fui-facebook::before {
	content: "\e03f";
}
.fui-youtube::before {
	content: "\e040";
}
.fui-vimeo::before {
	content: "\e041";
}
.fui-twitter::before {
	content: "\e042";
}
.fui-stumbleupon::before {
	content: "\e043";
}
.fui-spotify::before {
	content: "\e044";
}
.fui-skype::before {
	content: "\e045";
}
.fui-pinterest::before {
	content: "\e046";
}
.fui-path::before {
	content: "\e047";
}
.fui-myspace::before {
	content: "\e048";
}
.fui-linkedin::before {
	content: "\e049";
}
.fui-googleplus::before {
	content: "\e04a";
}
.fui-dribbble::before {
	content: "\e04c";
}
.fui-blogger::before {
	content: "\e04d";
}
.fui-behance::before {
	content: "\e04e";
}
.fui-list-thumbnailed::before {
	content: "\e04b";
}
.fui-list-small-thumbnails::before {
	content: "\e04f";
}
.fui-list-numbered::before {
	content: "\e050";
}
.fui-list-large-thumbnails::before {
	content: "\e051";
}
.fui-list-columned::before {
	content: "\e052";
}
.fui-list-bulleted::before {
	content: "\e053";
}
.dropdown-arrow-inverse {
	border-top-color: rgb(52, 73, 94) !important; border-bottom-color: rgb(52, 73, 94) !important;
}
.carousel-inner > .active.item > img {
	border-radius: 6px;
}
.carousel-inner > .active.item > a > img {
	border-radius: 6px;
}
.carousel-inner > .active.item > img {
	border-radius: 6px 6px 0px 0px;
}
.carousel-inner > .left.active.item > img {
	border-radius: 0px;
}
.carousel-inner > .right.active.item > img {
	border-radius: 0px;
}
.carousel-inner > .left.active.item > a > img {
	border-radius: 0px;
}
.carousel-inner > .right.active.item > a > img {
	border-radius: 0px;
}
.carousel-control {
	border-radius: 23px; border: 3px solid rgb(255, 255, 255); top: 45%; width: 40px; height: 40px; text-align: center; right: 15px; color: rgb(255, 255, 255); line-height: 32px; text-indent: 1px; font-size: 20px; margin-top: -20px; filter: alpha(opacity=50); position: absolute; opacity: 0.5;
}
.left.carousel-control {
	background: rgb(0, 0, 0);
}
.right.carousel-control {
	background: rgb(0, 0, 0);
}
.left.carousel-control {
	left: 15px; text-indent: -1px;
}
.right.carousel-control {
	left: auto; right: 15px;
}
.carousel-indicators {
	margin: 0px; left: auto; top: 16px; width: auto; right: 16px; bottom: auto; line-height: 8px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;
}
.carousel-indicators li {
	margin: 0px 0px 0px 6px; border: currentColor; width: 8px; height: 8px; vertical-align: top; background-color: rgba(44, 62, 80, 0.5);
}
.carousel-indicators li.active {
	margin: 0px 0px 0px 6px; width: 8px; height: 8px; background-color: rgb(255, 255, 255);
}
.carousel-caption {
	background: rgba(36, 51, 66, 0.7); padding: 30px 19px 22px; border-radius: 0px 0px 6px 6px; left: 0px; text-align: left; right: 0px; bottom: 0px; text-shadow: none;
}
.carousel-caption h3 {
	color: rgb(255, 255, 255);
}
.carousel-caption p {
	color: rgb(255, 255, 255);
}
.carousel-caption h3 {
	margin: 0px 0px 5px; line-height: 20px; font-size: 18px;
}
.carousel-caption p {
	line-height: 20px; font-size: 15px; margin-bottom: 0px;
}
.carousel-caption {
	background: rgb(51, 51, 51); position: static;
}
.last-col {
	overflow: hidden;
}
