<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="jsEngineSwitcher">
			<section name="core"
				type="JavaScriptEngineSwitcher.Core.Configuration.CoreConfiguration, JavaScriptEngineSwitcher.Core" />
			<section name="msie"
				type="JavaScriptEngineSwitcher.Msie.Configuration.MsieConfiguration, JavaScriptEngineSwitcher.Msie" />
		</sectionGroup>
	</configSections>
	<jsEngineSwitcher xmlns="http://tempuri.org/JavaScriptEngineSwitcher.Configuration.xsd">
		<core>
			<engines>
				<add name="MsieJsEngine"
					type="JavaScriptEngineSwitcher.Msie.MsieJsEngine, JavaScriptEngineSwitcher.Msie" />
				<add name="V8JsEngine"
					type="JavaScriptEngineSwitcher.V8.V8JsEngine, JavaScriptEngineSwitcher.V8" />
				<add name="JurassicJsEngine"
					type="JavaScriptEngineSwitcher.Jurassic.JurassicJsEngine, JavaScriptEngineSwitcher.Jurassic" />
			</engines>
		</core>
		<msie engineMode="Auto" />
	</jsEngineSwitcher>
</configuration>