<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="jsEngineSwitcher">
			<section name="core"
				type="JavaScriptEngineSwitcher.Core.Configuration.CoreConfiguration, JavaScriptEngineSwitcher.Core" />
			<section name="msie"
				type="JavaScriptEngineSwitcher.Msie.Configuration.MsieConfiguration, JavaScriptEngineSwitcher.Msie" />
			<section name="v8"
				type="JavaScriptEngineSwitcher.V8.Configuration.V8Configuration, JavaScriptEngineSwitcher.V8" />
			<section name="jurassic"
				type="JavaScriptEngineSwitcher.Jurassic.Configuration.JurassicConfiguration, JavaScriptEngineSwitcher.Jurassic" />
			<section name="jint"
				type="JavaScriptEngineSwitcher.Jint.Configuration.JintConfiguration, JavaScriptEngineSwitcher.Jint" />
		</sectionGroup>
	</configSections>
	<jsEngineSwitcher xmlns="http://tempuri.org/JavaScriptEngineSwitcher.Configuration.xsd">
		<core>
			<engines>
				<add name="MsieJsEngine"
					type="JavaScriptEngineSwitcher.Msie.MsieJsEngine, JavaScriptEngineSwitcher.Msie" />
				<add name="V8JsEngine"
					type="JavaScriptEngineSwitcher.V8.V8JsEngine, JavaScriptEngineSwitcher.V8" />
				<add name="JurassicJsEngine"
					type="JavaScriptEngineSwitcher.Jurassic.JurassicJsEngine, JavaScriptEngineSwitcher.Jurassic" />
				<add name="JintJsEngine"
					type="JavaScriptEngineSwitcher.Jint.JintJsEngine, JavaScriptEngineSwitcher.Jint" />
			</engines>
		</core>
		<msie engineMode="Auto" useEcmaScript5Polyfill="true" useJson2Library="true" />
		<v8 enableDebugging="false" debugPort="9222" disableGlobalMembers="false"
			maxNewSpaceSize="0" maxOldSpaceSize="0" maxExecutableSize="0" />
		<jurassic enableDebugging="false" enableIlAnalysis="false"
			strictMode="false" />
		<jint allowDebuggerStatement="false" enableDebugging="false"
			maxRecursionDepth="-1" maxStatements="0" strictMode="false" timeout="0" />
	</jsEngineSwitcher>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
	</startup>
</configuration>